@font-face {
    font-family: "ValueSansProRegular";
    src: url("../fonts/ValueSansProRegular/ValueSansProRegular.eot");
    src: url("../fonts/ValueSansProRegular/ValueSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ValueSansProRegular/ValueSansProRegular.woff") format("woff"),
    url("../fonts/ValueSansProRegular/ValueSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

a {
    display: inline-block;
}

* {
    box-sizing: border-box;
}

.main {
    font-family: 'Value Sans Pro', sans-serif;
    color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    background: #EDEBE9;
    padding: 10px 80px;
}
.header {
    justify-content: space-between;
    display: flex;
    z-index: 2
    width: 100%;
}
.menu {
    display: flex;
    width: 35%;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu-link {
    display: flex;
    text-decoration: none;
    color: black;
    padding-right:20px;
    transition: 0.2s;
}

.menu-link:hover {
    color: red;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    position: relative;
}

.logo span:before {
    content: "";
    position: absolute;
    top: calc(100% + 2px);
    border-bottom: 1px dashed #333333;
    width: 100%;
}

.child {
    text-decoration: none;
    color: black;
}
.block2 {
    display: flex;
    justify-content: center;
    min-height: 90px;
    padding: 0 80px;
}

.search-txt {
    display: flex;
    border-radius: 71px;
    width: 50%;
    height: 40px;
    justify-content: space-between;
    transition: .4s;
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: rgba(51, 51, 51, 0.75);
    border: 2px solid rgba(139, 71, 149, 0.8);
    letter-spacing: -0.01em;
    padding-left: 30px;
    margin: 20px;
}

.logo2{
    position: relative;
    display: flex;
    width: 10px;
    align-items: center;
    flex-basis: 350px;
}

.logo_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: sans-serif;

}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

.block2_user-icon {
    cursor: pointer;
}

.block2_user-icon:hover path {
    stroke: red;
}

.block2_user-icon:hover circle {
    stroke: red;
}

.logo_user_ponel {
    text-decoration: none;
    color: #333333;

}
.menu_size {
    display: flex;
    text-decoration: none;
    color: black;
}

.menu_size ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 80px;
    padding-right: 78px;
    text-decoration: none;
    color: black;

}
.menu_size_nbc {
    text-decoration: none;
    color: black;
    padding-right:20px;
    transition: 0.2s;
    font-family: sans-serif;
}

.room {
    position: relative;
    padding-left: 1200px;
    padding-top:100px ;

}
.room_style {
    position: absolute;
    z-index: 2;
}
.room_background {
    position: absolute;
    z-index: 1;
}


.info {
    position: relative;
    height: 788px;
}

.info_style {
    position: absolute;
    left: 154px;
    top: 200px;
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 64px;
    color: rgba(0, 0, 0, 0.76);
}

.info_style_li {
    position: absolute;
    left: 154px;
    top: 300px;
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 110%;
    color: rgba(0, 0, 0, 0.76);
}

.example {
    position: relative;
    width: 206px;
    height: 126px;
    background: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);
    left: 376px;
    top: 764px;
    border: 1px solid red;
}

.example__background {
    position: absolute;
    right: 9px;
    top: 28px;
    z-index: 1;
}

.example__image {
    position: absolute;
    right: 18px;
    top: 28px;
    z-index: 2;
}
.object-container {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    width: 100%;
    padding-block-start: 0;
}

.object{
    position: relative;
    width: 206px;
    height: 126px;
    background: rgba(201, 201, 201, 0.21);
}

.object_image {
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.object_backgroud {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.object_two {
    background: linear-gradient(90deg, #E3FDF5 0%, #FFE6FA 100%);
}

.object_three {
    background: linear-gradient(90deg, #FFFEFF 0%, #D7FFFE 100%);
}

.object_four {
    background: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);
}

.object_five {
    background: linear-gradient(90deg, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%);
}

.object_six {
    background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
}

.object_seven {
    background: linear-gradient(90deg, #E6E9F0 0%, #EEF1F5 100%);
}
.foother {
    position: relative;
    width: 500px;
}
.foother_style {
    list-style-type: none;
    position: absolute;
    width: 500px;
    height: 64px;
    left: 154px;
    padding-top:200px;
    font-family: 'Value Sans Pro',sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 48px;
    color: #333333;
}
.line {
    position: absolute;
    width: 299px;
    border-bottom: 1px solid black;
    height: 64px;
    left: 154px;
    padding-top:250px;
    opacity: 0.8;
}
.line_top {
    position: absolute;
    width: 1242px;
    height: 1px;
    left: 724px;
    padding-top: 230px;
    width: 1242px;
    border-bottom: 1px solid #C1C1C1;
}
.left_footer {
    width: 100px;
    padding-left: 100px;
}
.footer_image {
    position: absolute;
    z-index: 1;
}
.foother__backgroud {
    position: absolute;
    z-index: 2;
    padding-left: 19px;
    padding-top: 17px;
}

.footer_image_right {
    position: absolute;
    z-index: 2;
    padding-top: 15px;
    padding-left: 23px;
}
.foother__backgroud_right {
    position: absolute;
    z-index: 1;
}
.right_footer {
    width: 100px;
}

.card-block {
    width: 15%;

}
.card-block-border {
    position: relative;
    border: 1px solid rgba(51, 51, 51, 0.27);
    height: 280px;
}
.card_one {
    position: relative;
}
.card_image {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
    padding: 0 260px;
}
.card .left-icon {
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgba(51, 51, 51, 0.27);
    width: 58px;
    height: 58px;
    z-index: 10;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
}
.card .right-icon {
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgba(51, 51, 51, 0.27);
    width: 58px;
    height: 58px;
    z-index: 10;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}
.card .left-icon-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card .right-icon-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_stock {
    position: absolute;
    z-index: 3;
    background: #8B4795;
    color: white;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    width: 47px;
    border-radius: 10px 40px 40px 10px;
    bottom: 34px;
}
.text_hit{
    position: absolute;
    z-index: 4;
    color: white;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    width: 90px;
    border-radius: 10px 40px 40px 10px;
    bottom: 10px;
    background: #7E94AE;
}
.heart {
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 60px;
}
.compare {
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 20px;
}
.aside {
    padding-top: 5px;
    width: 232px;
}
.aside_size {
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    text-decoration: none;
}
.aside_chapter{
    width: 50px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    text-decoration: none;
}
.aside_li {
    padding-top: 10px;
}
.aside_benefits {
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 16px;  
    letter-spacing: 0.005em;  
    color: #333333; 
    opacity: 0.9;
    background: #FFD103;
    padding: 19px 16px;
    border-radius: 44px;
}
.aside_two {
    width: 232px;
    padding-top: 70px;
}
.aside_size_two {
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    text-decoration: none;
}
.aside_chapter_two{

    width: 50px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    text-decoration: none;
}
.aside_li_two {
    padding-top: 10px;
}
.aside_benefits_two {
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 16px;  
    letter-spacing: 0.005em;  
    color: #333333; 
    opacity: 0.9;
    background: #FFD103;
    padding: 19px 16px;
    border-radius: 44px;
}
.aside_features_two {
    padding-top: 10px;
}
.aside_features {
    padding-top: 10px;
}
.aside_three {
    width: 232px;
    padding-top: 34px;
}
.aside_size_three {
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    text-decoration: none;
    white-space: nowrap;
}
.aside_chapter_three{

    width: 50px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    text-decoration: none;
}
.aside_li_three {
    padding-top: 10px;
}
.aside_benefits_three {
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 16px;  
    letter-spacing: 0.005em;  
    color: #333333; 
    opacity: 0.9;
    background: #FFD103;
    padding: 19px 16px;
    border-radius: 44px;
}
.aside_features_three {
    padding-top: 10px;
}
.aside_four {
    width: 232px;
    padding-top: 79px;
}
.aside_size_four {
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    text-decoration: none;
}
.aside_chapter_four{

    width: 50px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    text-decoration: none;
}
.aside_li_four {
    padding-top: 10px;
}
.aside_benefits_four {
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 16px;  
    letter-spacing: 0.005em;  
    color: #333333; 
    opacity: 0.9;
    background: #FFD103;
    padding: 19px 16px;
    border-radius: 44px;
}
.aside_features_four {
    padding-top: 10px;
}
.catologist {
    position: relative;
    margin-top:150px;
    width: 100%;
    height: 640px;
}
.desc {
    position: absolute;
    height: 100%;
    width: 33.333%;
    float: left;
}
.responsive-img{
    width: 100%;
}
.desc_left {
    position: absolute;
    text-align: center;
    width: 33.333%;
    margin-left: 33.333%;
}
.responsive-img_left {
    width: 100%;
}
.resp{ 
position: absolute;

height: 20px;
left: 10px;
font-family: 'Value Sans Pro',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 20px;
/* identical to box height, or 62% */

letter-spacing: 0.005em;

color: #FFFFFF;

opacity: 0.9;
transform: rotate(-90deg);
top: 284px;
}
.resp_tzdf{
position: absolute;


height: 20px;
left: 84px;
font-family: 'Value Sans Pro',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 20px;
/* identical to box height, or 62% */

letter-spacing: 0.005em;

color: #FFFFFF;

opacity: 0.9;
transform: rotate(-90deg)
}
.desc_center {
    position: absolute;
    text-align: center;
    width: 33.333%;
    margin-left: 66.666%;
}
.responsive-img_center {
    width: 100%;
}
.resp_app {
    position: absolute;

    
    height: 20px;
    left: 100px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 64px;
    /* identical to box height, or 200% */
    
    letter-spacing: -0.01em;
    
    color: #FFFFFF;
    
    opacity: 0.9;
    top: 680px;
}
.relest {
    position: absolute;

    
    height: 20px;
    left: 100px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    /* identical to box height, or 100% */
    
    letter-spacing: -0.01em;
    
    color: #FFFFFF;
    
    opacity: 0.9;
    top: 780px;
}
.card_serch {
    margin-top: 500px;
}
.inner {
    position: relative;
    margin-top: 200px;
    width: 100%;
    height: 794px;
    background: linear-gradient(90deg, #E9DEFA 0%, #FBFCDB 100%);
    padding: 0 8%;
}
.posters {
    display: flex;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    color: #333333;
}

.posters-new {
    position: relative;
    display: inline-block;
    margin-top: 230px;
}

.posters-new:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    background: #333333;
    left: 0;
}
.posters_text {
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.76);
    margin-top: 30px;
}

.posters-arrows {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.slider_right {
    width: 60px;
    height: 58px;
    background: #FFFFFF;
    border: 2px solid rgba(51, 51, 51, 0.27);
    border-radius: 50%;
}
.right_slider{
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 15px;
}
.slider_left {
    width: 60px;
    height: 58px;
    background: #FFFFFF;
    border: 2px solid rgba(51, 51, 51, 0.27);
    border-radius: 50%;
    margin-left: 16px;
}
.left_slider {
    box-sizing: border-box;
    padding-left: 22px;
    padding-top: 15px;
}

.posters-cards {
    display: flex;
    margin-top: 140px;
    margin-left: 140px;
}

.posters-cards:hover .posters-card__description-button {
    display: block;
}

.posters-card {
    background: #FFFFFF;
    box-shadow: 5px 17px 59px rgba(0, 0, 0, 0.2);
    margin-left: 8%;
    padding: 0 34px 34px 34px;
}
.posters-card__image {
    margin-top: 60px;
}
.posters-card__description {

}
.posters-card__description-title {
    width: 200px;
    height: 14px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
}
.posters-card__description-name {
    padding-top: 6px;
    font-family: 'Value Sans Pro';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
}

.posters-card__description-prices {
    display: flex;
    margin-top: 30px;
}

.posters-card__description-price {
    font-family: 'Value Sans Pro';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
}

.posters-card__description-price-crossed-out {
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    text-decoration: line-through;
    margin-left: 16px;
}

.posters-card__description-button {
    display: none;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 16px;  
    letter-spacing: 0.005em;  
    color: #333333; 
    opacity: 0.9;
    background: #FFD103;
    padding: 19px 16px;
    border-radius: 44px;
    text-decoration: none;
    padding-top: 20px;
    border: none;
    margin-top: 13px;
}

.modal-caption {
    width: 50%px;
    margin-top: 140px ;
    width: 600;
    margin-left: 150px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.005em;
    color: #333333;
}
.modal-link {
    margin-left: 134px;
    margin-top: 30px;
    width: 35%;
    display: flex;
    justify-content: space-around;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 24px;
    letter-spacing: 0.005em;
}
.modal {
    display: flex;
    position: relative;
    margin-left: 150px;
    height: 100%;
    margin-top: 40px;
} 
.rule{
    position: absolute;
    bottom: 200px;
    left: 50px;
}
.circle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color:rgba(216,216,216,0.2) ;
    border-radius: 50%;
    z-index: 1;
}

.beffe {
    position: absolute;
    left: 14px;
    top: 13px;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
}
.plus {
    position: absolute;
    z-index: 4;
    width: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.rule_two{
    position: absolute;
    bottom: 200px;
    left: 220px;
}
.rule_three {
    position: absolute;
    top: 120px;
    left: 320px;
}
.rule_four {
    position: absolute;
    left: 360px;
    top: 50px;
} 
.modal_jpg {
    margin-left: 16px;
}
.modal_line {
    position: relative;
    right: 550px;
}
.modal_line-one {
    width: 143px;
    position: absolute;
    border-bottom: 3px solid #8B4795;

}
.modal_line-two{
    width: 222px;
    position: absolute;
    border-bottom: 3px solid rgba(139, 71, 149, 0.25);
}
.modal_slider{
    margin-top: 700px;
    display: flex;
    align-items: center;
    right: 250px;


}
.modal_slider-right {
    width: 60px;
    height: 58px;
    background: #FFFFFF;
    border: 2px solid #8B4795;
    border-radius: 50%;
    top: 200px;
}
.modal_slider-left {
    width: 60px;
    height: 58px;
    background: #FFFFFF;
    border: 2px solid #8B4795;
    border-radius: 50%;
    margin-left:16px;
}
.modal_img{
    display: flex;
    width: 550px;
    height: 461px;
    margin-top: 150px;
}
.promo {
    width: 100vh;
    margin-top:140px;
    margin-left: 154px;

}
.promo_adv {
    width:428px;
    height: 302px;
    left: 154px;
    background: #EDEBE9;
}
.promo_adv-text {
    width: 100%;
    height: 24px;
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 32px;
    line-height: 24px;  
}
.promo_adv-img {
margin-top: 300px;
}
