@font-face {
    font-family: "ValueSansProRegular";
    src: url("../fonts/ValueSansProRegular/ValueSansProRegular.eot");
    src: url("../fonts/ValueSansProRegular/ValueSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ValueSansProRegular/ValueSansProRegular.woff") format("woff"),
    url("../fonts/ValueSansProRegular/ValueSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.main {
    font-family: 'Value Sans Pro', sans-serif;
    color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    background: #EDEBE9;
    padding: 10px 80px;
}
.header {
    justify-content: space-between;
    display: flex;
    z-index: 2
    width: 100%;
}
.menu {
    display: flex;
    width: 35%;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu-link {
    display: flex;
    text-decoration: none;
    color: black;
    padding-right:20px;
    transition: 0.2s;
}

.menu-link:hover {
    color: red;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    position: relative;
}

.logo span:before {
    content: "";
    position: absolute;
    top: calc(100% + 2px);
    border-bottom: 1px dashed #333333;
    width: 100%;
}

.child {
    text-decoration: none;
    color: black;
}
.block2 {
    display: flex;
    justify-content: center;
    min-height: 90px;
    padding: 0 80px;
}

.search-txt {
    display: flex;
    border-radius: 71px;
    width: 50%;
    height: 40px;
    justify-content: space-between;
    transition: .4s;
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: rgba(51, 51, 51, 0.75);
    border: 2px solid rgba(139, 71, 149, 0.8);
    letter-spacing: -0.01em;
    padding-left: 30px;
    margin: 20px;
}

.logo2{
    position: relative;
    display: flex;
    width: 10px;
    align-items: center;
    flex-basis: 350px;
}

.logo_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: sans-serif;

}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

.block2_user-icon {
    cursor: pointer;
}

.block2_user-icon:hover path {
    stroke: red;
}

.block2_user-icon:hover circle {
    stroke: red;
}

.logo_user_ponel {
    text-decoration: none;
    color: #333333;

}
.menu_size {
    display: flex;
    text-decoration: none;
    color: black;
}

.menu_size ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 80px;
    padding-right: 78px;
    text-decoration: none;
    color: black;

}
.menu_size_nbc {
    text-decoration: none;
    color: black;
    padding-right:20px;
    transition: 0.2s;
    font-family: sans-serif;
}

.room {
    position: relative;
    padding-left: 1200px;
    padding-top:100px ;

}
.room_style {
    position: absolute;
    z-index: 2;
}
.room_background {
    position: absolute;
    z-index: 1;
}


.info {
    position: relative;
    height: 788px;
}

.info_style {
    position: absolute;
    left: 154px;
    top: 200px;
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 64px;
    color: rgba(0, 0, 0, 0.76);
}

.info_style_li {
    position: absolute;
    left: 154px;
    top: 300px;
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 110%;
    color: rgba(0, 0, 0, 0.76);
}

.example {
    position: relative;
    width: 206px;
    height: 126px;
    background: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);
    left: 376px;
    top: 764px;
    border: 1px solid red;
}

.example__background {
    position: absolute;
    right: 9px;
    top: 28px;
    z-index: 1;
}

.example__image {
    position: absolute;
    right: 18px;
    top: 28px;
    z-index: 2;
}
.object-container {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    width: 100%;
    padding-block-start: 0;
}

.object{
    position: relative;
    width: 206px;
    height: 126px;
    background: rgba(201, 201, 201, 0.21);
}

.object_image {
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.object_backgroud {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.object_two {
    background: linear-gradient(90deg, #E3FDF5 0%, #FFE6FA 100%);
}

.object_three {
    background: linear-gradient(90deg, #FFFEFF 0%, #D7FFFE 100%);
}

.object_four {
    background: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);
}

.object_five {
    background: linear-gradient(90deg, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%);
}

.object_six {
    background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
}

.object_seven {
    background: linear-gradient(90deg, #E6E9F0 0%, #EEF1F5 100%);
}
.foother {
    position: relative;
    width: 500px;
}
.foother_style {
    list-style-type: none;
    position: absolute;
    width: 500px;
    height: 64px;
    left: 154px;
    padding-top:200px;
    font-family: 'Value Sans Pro',sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 48px;
    color: #333333;
}
.line {
    position: absolute;
    width: 299px;
    border-bottom: 1px solid black;
    height: 64px;
    left: 154px;
    padding-top:250px;
    opacity: 0.8;
}
.line_top {
    position: absolute;
    width: 1242px;
    height: 1px;
    left: 724px;
    padding-top: 230px;
    width: 1242px;
    border-bottom: 1px solid #C1C1C1;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top:550px;

}
.left_footer {
    width: 100px;
    padding-left: 100px;
}
.footer_image {
    position: absolute;
    z-index: 1;
}
.foother__backgroud {
    position: absolute;
    z-index: 2;
    padding-left: 19px;
    padding-top: 17px;
}

.footer_image_right {
    position: absolute;
    z-index: 2;
    padding-top: 15px;
    padding-left: 23px;
}
.foother__backgroud_right {
    position: absolute;
    z-index: 1;
}
.right_footer {
    width: 100px;
}
.card_one {
    position: relative;
}
.card_image {
    position: absolute;
    z-index: 3;
    padding-left: 10px;
    padding-top: 100px;
}
.card_backgroud {
    position: absolute;
    z-index: 2;
}
.card {
    display: flex;
    justify-content: space-around;
    padding: 0 80;
}
.text_stock {
    position: absolute;
    z-index: 3;
    background: #8B4795;
    color: white;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    width: 47px;
    border-radius: 10px 40px 40px 10px;
    top: 290px;
}
.text_hit{
    position: absolute;
    z-index: 4;
    color: white;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    width: 90px;
    border-radius: 10px 40px 40px 10px;
    top: 320px;
    background: #7E94AE;
}
.heart {
    position: absolute;
    z-index: 5;
    padding-left: 200px;
    padding-top: 20px;
}
.compare {
    position: absolute;
    z-index: 5;
    padding-left: 240px;
    padding-top: 20px;
}
.aside {
    position: absolute;
    z-index: 6;
    padding-top: 360px;
    width: 232px;
    

}
.aside_size {
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    text-decoration: none;
}
.aside_chapter{
    width: 50px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.9;
    text-decoration: none;
}
.aside_li {
    padding-top: 10px;
}
.aside_benefits {
    position: absolute;
    width: 220px;
    padding-top: 12px;
    background: #FFD103;
    border-radius: 44px;
    padding-left: 50px;
}
