@font-face { 
    font-family: "ValueSansProRegular";
    src: url("../fonts/ValueSansProRegular/ValueSansProRegular.eot");
    src: url("../fonts/ValueSansProRegular/ValueSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ValueSansProRegular/ValueSansProRegular.woff") format("woff"),
    url("../fonts/ValueSansProRegular/ValueSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.main {
    font-family: 'Value Sans Pro', sans-serif;
    color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    background: #EDEBE9;
    padding: 10px 80px;
}
.header {
    justify-content: space-between;
    display: flex;
    z-index: 2
    width: 100%;
}
.menu {
    display: flex;
    width: 35%;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu-link {
    display: flex;
    text-decoration: none;
    color: black;
    padding-right:20px;
    transition: 0.2s;
}

.menu-link:hover {
    color: red;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    position: relative;
}

.logo span:before {
    content: "";
    position: absolute;
    top: calc(100% + 2px);
    border-bottom: 1px dashed #333333;
    width: 100%;
}

.child {
    text-decoration: none;
    color: black;
}
.block2 {
	display: flex;
    justify-content: center;
	min-height: 90px;
    padding: 0 80px;
}

.search-txt {
    display: flex;
    border-radius: 71px;
    width: 50%;
    height: 40px;
    justify-content: space-between;
	transition: .4s;
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: rgba(51, 51, 51, 0.75);
    border: 2px solid rgba(139, 71, 149, 0.8);
    letter-spacing: -0.01em;
    padding-left: 30px;
    margin: 20px;
}

.logo2{
    position: relative;
    display: flex;
    width: 10px;
    align-items: center;
    flex-basis: 350px;
}

.logo_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: sans-serif;

}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

.block2_user-icon {
    cursor: pointer;
}

.block2_user-icon:hover path {
    stroke: red;
}

.block2_user-icon:hover circle {
    stroke: red;
}

.logo_user_ponel {
    text-decoration: none;
    color: #333333;
    
}
.menu_size {
    display: flex;
    text-decoration: none;
    color: black;
}

.menu_size ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 80px;
    padding-right: 78px;
    text-decoration: none;
    color: black;

}
.menu_size_nbc {
    text-decoration: none;
    color: black;
    padding-right:20px;
    transition: 0.2s;
    font-family: sans-serif;
}
.room {
    position: absolute;
    width: 945px;
    height: 531px;
    left: 992px;
    top: 257px;
}
.room_background{
    position: absolute;
    width: 524.45px;
    height: 793.75px;
    left: 1723.97px;
    top: 150px;

    background: #CCCCEC;
}
.info_style {
    position: absolute;
    width: 225px;
    height: 64px;
    left: 154px;
    top: 343px;

    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 64px;
    /* identical to box height, or 267% */

    letter-spacing: -0.01em;

    color: rgba(0, 0, 0, 0.76);
    }
.info_style_li {
    position: absolute;
    width: 588px;
    height: 154px;
    left: 154px;
    top: 433px;

    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 110%;
    /* or 77px */

    letter-spacing: 0.005em;

    color: rgba(0, 0, 0, 0.76);
}


.example {
    position: relative;
    width: 206px;
    height: 126px;
    background: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);
    left: 376px;
    top: 764px;
    border: 1px solid red;

}

.example__background {
    position: absolute;
    right: 9px;
    top: 28px;
    z-index: 1;
}

.example__image {
    position: absolute;
    right: 18px;
    top: 28px;
    z-index: 2;
}
.object{
    position: relative;
    width: 206px;
    height: 126px;
    left: 154px;
    top: 636px;


    background: rgba(201, 201, 201, 0.21);

}
.object_image {
    position: absolute;
    right: 9px;
    top: 28px;
    z-index: 2;

}
.object_backgroud {
    position: absolute;
    right: 18px;
    top: 28px;
    z-index: 1;
}
.object_two{
    position: relative;
    width: 206px;
    height: 126px;
    left: 598px;
    top: 511px;
    
    background: linear-gradient(90deg, #E3FDF5 0%, #FFE6FA 100%);
}
.object_three {
    position: relative;
    width: 206px;
    height: 126px;
    left: 820px;
    top: 385px;

    background: linear-gradient(90deg, #FFFEFF 0%, #D7FFFE 100%);
}
.object_four {
    position: relative;
    width: 206px;
    height: 126px;
    left: 1042px;
    top: 259px;
    background: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);
}
.object_five {
    position: relative;
    width: 206px;
    height: 126px;
    left: 1264px;
    top: 133px;

    background: linear-gradient(90deg, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%);

}
.object_six {
    position: relative;
    width: 206px;
    height: 126px;
    left: 1486px;
    top: 7px;
    background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
    padding-left: 100px;
}
.obekt_seven {
    position: relative;
    width: 206px;
    height: 126px;
    left: 124px;

    background: linear-gradient(90deg, #E6E9F0 0%, #EEF1F5 100%);
}




